@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=latin");

$bg-color: #4f8594;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Mono', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: $bg-color;
    animation: hueRotate 45s infinite linear;
    will-change: background-color;
}

@keyframes hueRotate {
    0% {
        background-color: adjust_hue($bg-color, 40);
    }
    18% {
        background-color: adjust_hue($bg-color, 0);
    }
    36% {
        background-color: adjust_hue($bg-color, -40);
    }
    54% {
        background-color: adjust_hue($bg-color, -80);
    }
    72% {
        background-color: adjust_hue($bg-color, -40);
    }
    90% {
        background-color: adjust_hue($bg-color, 0);
    }
    100% {
        background-color: adjust_hue($bg-color, 40);
    }
}