@import url("https://fonts.googleapis.com/css?family=Fira+Mono:400,500,700&subset=latin");

$bg-color: #4f8594;

html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Fira Mono', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: #fff;
    min-height: 100vh;
    min-width: 100vw;
    overflow: hidden;
    background-color: $bg-color;
    animation: hueRotate 30s infinite ease-in-out;
    box-shadow: inset 0 1vh calc(5vw + 5vh) 0 rgba(0, 0, 0, 1);
}

@keyframes hueRotate {
    0% {
        background-color: adjust_hue($bg-color, 30);
    }
    18% {
        background-color: adjust_hue($bg-color, 0);
    }
    36% {
        background-color: adjust_hue($bg-color, -30);
    }
    54% {
        background-color: adjust_hue($bg-color, -60);
    }
    72% {
        background-color: adjust_hue($bg-color, -30);
    }
    90% {
        background-color: adjust_hue($bg-color, 0);
    }
    100% {
        background-color: adjust_hue($bg-color, 30);
    }
}