header {
    position: absolute;
    z-index: 1000;
    top: 50%;
    left: 50%;
    transform: translateY(-50%) translateX(-50%);
}

.title {
    font-size: 0;
    font-weight: 500;
    user-select: none;
    cursor: default;
    white-space: nowrap;
    margin-bottom: 0.5rem;
}

.title-text {
    font-size: calc(1.5rem + 3vw);
    display: inline-block;
    vertical-align: middle;
    text-shadow: 0 calc(2px + 0.33vw) rgba(0, 0, 0, 0.25);
}

.cursor {
    display: inline-block;
    height: calc(1.5rem + 3vw);
    margin-left: 0.15em;
    vertical-align: middle;
    border: 2px solid transparent;
    animation: blinking 1s infinite;
    user-select: none;
    pointer-events: none;
}

.links {
    user-select: none;
    font-family: Silkscreen;
    font-size: calc(1rem + 1vw);
    color: rgba(255, 255, 255, 0.5);
    opacity: 0;
    white-space: nowrap;
    animation: reveal 5s forwards;
    cursor: default;
    line-height: 2.5rem;
    a {
        &:hover {
            color: #FF0;
            &:nth-of-type(2) {
                color: #0F0;
            }
            &:nth-of-type(3) {
                color: #0FF;
            }
        }
    }
}

a {
    color: inherit;
    text-decoration: none;
    &:hover {
        cursor: pointer;
    }
}

@keyframes blinking {
    0% {
        border-color: transparent;
    }
    59.9% {
        border-color: transparent;
    }
    60.1% {
        border-color: #FFF;
    }
    100% {
        border-color: #FFF;
    }
}

@keyframes reveal {
    0% {
        opacity: 0;
        max-width: 0;
    }
    39% {
        opacity: 0;
    }
    50% {
        max-width: 0;
    }
    100% {
        opacity: 1;
        max-width: 200px;
    }
}